**/_incubator
**/local

#Eclipse
**/.classpath
**/.project
**/.settings

#IntelliJ
**/.idea
**/*.iml

#Maven
**/target

#Gradle
**/.gradle
**/build

**/.vscode

# Node
**/node_modules
npm-debug.log
yarn-error.log

